- if notice
  %p#notice= notice

%h1= @collection.name
%p= @collection.base_path

%p
  = link_to 'Base element', @collection.base_element

- content_for :sidebar do
  .box
    %h4= @collection.name
    %em= @collection.base_path
    .contentarea
      %ul.linklist
        %li= link_to 'Edit', edit_collection_path(@collection)
        %li= link_to 'Crawl', enqueue_collection_path(@collection), :method=>:post
        %li= link_to 'Destroy', @collection, :confirm => 'Are you sure ?', :method=>:delete
        %hr
        %li= link_to 'Back to collections', collections_path
