.primarycontainer
  .primarycontent
    %h2= query
    %ul
      - search.each_hit_with_result do |hit, element|
        %li
          - if highlight = hit.highlight(:name)
            != hit.highlight(:name).format {|f| "<span class=\"highlight\">" + h(f) + "</span>"}
          - else
            = element.name
          .details
            = element.full_path
    .pagination
      = will_paginate(search.hits)
.secondarycontent
  .box
    %h4 Categories
    .contentarea
      - if params[:media]
        %p Found #{search.total} results in category #{params[:media]}
        %ul.linklist
          %li= link_to "See all categories", url_for(params_remove(params, :media))
      - else
        %ul.linklist
          - search.facet(:media).rows.each do |row|
            %li= link_to "#{row.value} (#{row.count})", url_for({:media=>row.value}.update(params))
